@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="Mk?" Email="Mirkhan.shams2@gmail.com" Mobile="017622345651" />
<br/>
<Mirkhan Job ="Lehrer"/>