@using MyBlazor.Libraries.Product;
@using MyBlazor.Libraries.Product.Models;
@inject NavigationManager navigationManager;

@page "/"

@inject IProductService productService

<PageTitle>لیست محصولات</PageTitle>
<HeadContent>
    <meta name="description" content="LIste Product hastan" />
</HeadContent>

@if (Products?.Any() ?? false)
{
    <h2>آخرین محصولات ما</h2>
    <a></a>
    <hr />
    <div class="row">
        @foreach (var product in Products)
        {
            <ProductDetails Product="product"/>
        }
    </div>
    <div class="row">
        @if (TotalPageCount >1 )
        {
            <ul>
                @for (int page = 1; page < TotalPageCount; page++)
                {
                    <li class="page-item">
                        <a class="page-link" href="@navigationManager.GetUriWithQueryParameter("page",page)">@(page)</a>
                    </li>
                    
                }
            </ul>
        }
    </div>

}



@code {
    public IList<ProductModel>? Products { get; set; }


    [Parameter,SupplyParameterFromQuery]
    public int? Page { get; set; }

    public int? TotalPageCount { get; set; }

    protected override void OnInitialized()
     {
    //     Products = productService.GetAll(4, Page ?? 1);
    //     TotalPageCount = productService.GetTotalPageCount(4);
        base.OnInitialized();
    }

}
@functions
{
    protected override void OnParametersSet()
    {
        Products = productService.GetAll(4, Page ?? 1);
        TotalPageCount = productService.GetTotalPageCount(4); 
        base.OnParametersSet();
    }
}